.headerTweet{
    display: flex;
    align-items: center;
    margin-bottom: 15px;
}

.globalTweet{
    display: flex;
    flex-direction: column;
    justify-content: center;
    border-bottom: 1px gray solid;
    height: 150px;
}
.img{
    width: 60px;
}

.username{
color : gray;
margin : 15px;
}

.contentTweet{
    margin-bottom: 15px;
}

.actionTweet{
    margin-left: 15px;
}
